/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --heading-color: #DB00FF;
  --title-color: #000028;
  --accent-title-color: #000028;
  --text-color: #F1B2CE;
  --accent-text-color: #FF0070;
  --main-font: 'IBM Plex mono', sans-serif;
  --text-color-opacity: #ff007066;
}

:is(.theme_dark :not(.theme_light)) .rec {
  display: block;
  color: var(--accent-text-color, #FF0070);
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.38;
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 40px;
}

:is(.theme_dark :not(.theme_light)) .rec::before {
  content: '';
  background-color: #FF0070;
  box-shadow: 0 0 4px 3px #FF0070;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  inset-block-start: 7px;
  inset-inline-end: -20px;
}

@media screen and (width >=668px) {
  :is(.theme_dark :not(.theme_light)) .rec {
    inset-block-start: 20px;
    inset-inline-end: 50px;
  }

  :is(.theme_dark :not(.theme_light)) .rec::before {
    inset-block-start: 8px;
    inset-inline-end: -20px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --bg-image: url(../images/cover-image-dark.png);
    --accent-color: #FF0070;
    --heading-color: #DB00FF;
    --title-color: #000028;
    --accent-title-color: #000028;
    --text-color: #F1B2CE;
    --accent-text-color: #FF0070;
    --main-font: 'IBM Plex mono', sans-serif;
    --text-color-opacity: #ff007066;
  }

  .page:not(.theme_light) .rec {
    display: block;
    color: var(--accent-text-color, #FF0070);
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.38;
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 40px;
  }

  .page:not(.theme_light) .rec {
    display: block;
    color: var(--accent-text-color, #FF0070);
    font-size: 18px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.38;
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 40px;
  }
  
  .page:not(.theme_light) .rec::before {
    content: '';
    background-color: #FF0070;
    box-shadow: 0 0 4px 3px #FF0070;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    inset-block-start: 7px;
    inset-inline-end: -20px;
  }
  
  @media screen and (width >=668px) {
    .page:not(.theme_light) .rec {
      inset-block-start: 20px;
      inset-inline-end: 50px;
    }
  
    .page:not(.theme_light) .rec::before {
      inset-block-start: 8px;
      inset-inline-end: -20px;
    }
  }

}