/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --title-color: #353430;
  --accent-title-color: #353430;
  --text-color: #353430;
  --accent-text-color: #353430;
  --main-font: 'IBM Plex mono', sans-serif;
  --text-color-opacity: #32312d66;
}

/* .page.theme_light .rec {
  display: none;
}

.page.theme_auto .rec {
  display: none;
} */