/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font, 'IBM Plex mono', sans-serif);
  color: var(--text-color, #353430);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  min-height: 100dvh;
  background: var(--bg-color) var(--bg-image) no-repeat center / cover;
  background-attachment: fixed;
}

.title-decor {
  background-color: var(--accent-color, #FF8DCB);
  color: var(--accent-title-color, #353430);
  font-size: inherit;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-inline-end: 1px solid var(--accent-text-color, #353430);
  border-block-start: 1px solid var(--accent-text-color, #353430);
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-inline-start: 1px solid var(--accent-text-color, #353430);
  border-block-end: 1px solid var(--accent-text-color, #353430);
}

.link {
  color: inherit;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.3;
  text-shadow: 2px 2px 0px var(--accent-color, #FF8DCB);
  outline: none;
  border: 1px solid transparent;
  transition: border 0.9s;

  &:hover {
    border-block-end: 1px solid currentColor;
  }

  &:focus-visible {
    border: 1px solid currentColor;
  }
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  block-size: 100dvh;
  position: relative;
}

.rec {
  display: none;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  inline-size: 70px;
  block-size: 26px;
  text-align: center;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.9s;
  color: var(--accent-text-color, #353430);

  &:hover {
    border: 1px solid var(--text-color-opacity, #32312d66);
  }

  &:focus-visible {
    border-block-end: 1px solid var(--accent-text-color, #353430);
  }
}

.header__theme-menu-button_active {
  inline-size: 70px;
  block-size: 26px;
  padding: 0px 13px;
  border: 1px solid var(--accent-text-color, #353430);

  &:disabled {
    pointer-events: none;
  }
}

.heading {
  color: var(--heading-color, #FFC2E6);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
}

.header__heading {
  align-self: end;
  text-shadow: 4px 4px 0px var(--accent-color, #FF8DCB);
}

.header__description {
  align-self: center;
  font-weight: 700;
}

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.why,
.what,
.how {
  display: grid;
  gap: 20px;
}

.lists {
  display: grid;
  gap: 20px;
}

.inscription {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent-text-color, #353430);
}

.title {
  font-weight: 700;
  margin-block-end: 10px;
}

.how__title {
  margin-block-end: 0;
}

.subtitle {
  font-weight: 400;
  margin-block-end: 10px;
}

.images {
  display: grid;
  gap: 10px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (width > 680px) {
  .images {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-sunset {
    grid-column: 1 / 3;
  }

  .image-ice-cream {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .image-tape {
    grid-row: 2 / 4;
  }

  .image-books {
    aspect-ratio: 1 / 1;
  }

  .image-street {
    grid-column: 2 / 4;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100dvh;
  position: relative;
}

.footer__heading {
  text-shadow: 2px 2px 0px var(--accent-color, #FF8DCB);
}

/* корректировка для автотеста */
 @media screen and (width=768px) {
  .inscription {
    width: 236px;
  }
}

@media screen and (width >=668px) {
  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::before {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header {
    padding: 20px;
  }

  .header__heading {
    position: relative;
    inset-inline-start: -20px;
  }

  .header__description {
    inline-size: 50%;
    justify-self: end;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .why,
  .what,
  .how {
    grid-template-columns: repeat(3, 1fr);
  }

  .what .lists {
    grid-column: 1/4;
  }

  .why .lists,
  .how .lists {
    grid-column: 2/4;
  }

  .how .title {
    grid-column: 2 / 4;
  }

  .how__inscription {
    grid-row: 1/3;
  }
}

@media screen and (width >=768px) {
  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

@media screen and (width > 980px) {
  .what__lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .header__heading {
    text-shadow: 4px 4px 0px #FF0070;
  }

  .footer__heading {
    text-shadow: 2px 2px 0px #FF0070;
  }
}