/*
  Переменные для вашего проекта
  и их переопределение под различные устройства

  Большинство цветов, 
  шрифт, 
  размеры текста для разных элементов и отступы удобно хранить в переменных
*/
:root {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --heading-color: #FFC2E6;
  --title-color: #353430;
  --accent-title-color: #353430;
  --text-color: #353430;
  --accent-text-color: #353430;
  --main-font: 'IBM Plex mono', sans-serif;
  --text-color-opacity: #32312d66;
}
